@media (min-width:376px)
{
    body{
        display:flex;
        align-content:center;
        justify-content: center;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding:3%;
    row-gap: 4%;
}

#c2{
    margin-top:25px;
}

#c3{
    margin-top:50px;
}

.card{
    border-radius:15px;
    padding:2%;
    height:200px;
}

#s2{
    margin-left:40px;
}

#s3{
    margin-left:80px;
}

.main{
    grid-column:1/2;
}

.review{
    margin-top:7%;
    grid-column:2/3;
    align-self: center;
    
}

.bottom-part{
    display:flex;
    grid-column: 1/4;
    grid-row: 2/3;
    column-gap:3%;
}

.up-part{
    display:grid;
   grid-template-columns: 1fr 1fr;
    grid-column: 1/4;
    column-gap:15%;
}

.interior{
    display:flex;
    margin-bottom:5%;
}
.stars{
    width:450px;
}

.interior img{
    align-self:center;
}

.interior p{
    padding-left:4%;
}

}

@media (max-width:375px)
{

}



body{
    font-size:15px;
    font-family: 'Spartan', sans-serif;
    margin:0px;
}

.interior{
    margin-left:30px;
}

.card{
    background:hsl(300, 43%, 22%);
    color:white;
    
}

.name{
    color:white;
}

.buyer{
    color: hsl(333, 80%, 67%);
}

.stars{
    background: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 10px;
}

h2{
    color:hsl(300, 43%, 22%);
    font-size:35px;
}

.main p{
    color:hsl(303, 10%, 53%);
    width:79%;
}

.card img{
    border-radius:50%;
}

.important{
    display:flex;
   align-content: center;
}

.ver{
    margin-left:20px;
    margin-top:20px;
}


